@import '_colors';

.header-page {
  height: 400px;
  width: 30%;
  margin-left: 5%;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $tweeter-yellow;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");

}

@media only screen and (max-width: 1024px) {
  .header-page {
    width: 100%;
    margin-left: 0;
    margin-top: 120px;
  }
}

@media only screen and (max-width: 480px) {
  .header-page {
   display: flex;
   flex-direction: row;
   height: 150px;
   padding: 0.11em;
   align-items: center;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      img {
        height: 100%;
      }
    }
   
  }
}

