@import 'fonts';
@import '_colors';

nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #4056A1;
  height: 100px;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
}

nav button {
  font-size: 1.5em;
  border: 0;
  height: 50px;
  background-color: #4056A1;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: flex-end;

  &:focus {
    outline: none;
  }
}


nav span {
  height: 50px;
&:first-child {
  font-family: "Bungee";
  font-size: 2em;
  line-height: 50px;
}
&:nth-child(3) {
  display: none;
}
}

.downArrow {
  color: #C60F7B;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
  -webkit-transition: color 0.1s;
  transition: all 0.3s;
  &:hover {
    color:$tweeter-yellow;
    height: 1.1em;
  }
}

.fa-angle-double-down:hover {
  color: #FF3C38;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media only screen and (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
    &:nth-child(2 ) {
      display: none;
    }

  }
  }
}