
.new-tweet-container {
  overflow: hidden;
  border: 5px solid #545149;
  &.open {
    display: block;
    max-height: 225px;
  }
  &.closed {
    // max-height: 0px;
    display: none;
  }
}

.new-tweet {
  height: 100%;

  padding: 0.1em 1em 1em 1em;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  
}

.new-tweet-hidden {
  display: none;
  height: 0px;
}



.new-tweet header {
  background-color: inherit;
  background-image: unset;
  // height: 100px;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-shrink: 1;
}

.exitTweet {
  margin-right: 2vw;
  font-size: 1em;
  opacity: 0.5;
  display: flex;
  align-items: center;
  svg:hover {
      transform: scale(1.4)
    }
}

.new-tweet form {
  width: 100%;
}

.new-tweet form textarea {
  border: none;
  background-color: inherit;
  border-bottom: 3px solid black;
  outline: none;
  width: 100%;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

form div button {
  background-color: #4056a1;
  -o-border-image: none;
  border-image: none;
  border: none;
  font-family: "bungee";
  color: #ffffff;
  padding: 0.2em;
}

form div output {
  font-family: "bungee";
}

.lower-bar > div {
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}



.error {
  margin-top: 0.5em;
  width: 100%;
  height: 75px;
  line-height: 60px;
  text-align: center;
  border: 4px solid red;
  padding: 5px;

  &.hidden {
    display: none;
  }
}

.error span {
  margin: 0em 1em;
}




.backgroundError {
  background-color: #ffcccb;
}
@media only screen and (max-width: 480px) {

  .new-tweet-container {
    &.open {
      max-height: 175px;
    }
  }
  .new-tweet {
    h2 {
      font-size: 1em;
    }
  }
}




