.tweet-buttons {
  margin-right: 1em;

  .tweet-button {
    border: none;
    outline: none;
    background-color: none;

    &.unclicked {
      color: #4056a1;

      &:hover {
        color: #ff3c38;
      }
    }

    &.clicked {
      color: #ff3c38;
      -webkit-animation: click 1s;
      animation: click 1s;
    }

    span {
      margin-left: 0.4em;
    }
  }
}
